# 5.1 Print 
Print berfungsi untuk mencetak tulisan yang berada dalam tanda print

In [4]:
print ('Hari Senin ada Kelas Algoritma')

Hari Senin ada Kelas Algoritma

In [5]:
print ("Hari Senin ada Kelas Algoritma")

Hari Senin ada Kelas Algoritma

In [6]:
print ("I don't understant what are you saying")

I don't understant what are you saying

In [7]:
print ('He is such a "SMART"')

He is such a "SMART"

In [33]:
mahasiswa_matematika = 19
uang_di_tas = 20000
print(mahasiswa_matematika)
print(uang_di_tas)
print(mahasiswa_matematika*uang_di_tas)

19
20000
380000

In [9]:
nama_depan = " Ayu "
nama_tengah = "Lestari "
nama_belakang = "Dewi "
print (nama_depan + nama_tengah + nama_belakang )

 Ayu Lestari Dewi

# 5.2 Input

In [11]:
nama = input ('Siapakah nama anda? ')
kegiatan = input ('Apakah kegiatan anda sekarang, ' + nama + '? ' )
print ('Semangat ' + kegiatan + 'nya yah, ' + nama + '!')

Siapakah nama anda? Lestari
Apakah kegiatan anda sekarang, Lestari? membaca buku
Semangat membaca buku nya yah, Lestari!

# 5.3 Tipe Data pada python
Ada 3 tipe data pada python yaitu :
1. int (Bilangan bulat)
2. float (Bilangan real)
3. str (string)

In [3]:
uang_di_tas = input("Berapakah jumlah uang di tas anda? ")
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
total_uang = int(uang_di_tas) + int(uang_di_dompet)

print("Total uang anda adalah Rp" + str(total_uang))

Berapakah jumlah uang di tas anda? 10000
Berapakah jumlah uang di dompet anda? 5000
Total uang anda adalah Rp15000

In [6]:
bilangan_satu = input ("Masukan bilangan pertama ")
bilangan_kedua = input ("Masukan bilangan kedua ")
jumlah = float (bilangan_satu) + float (bilangan_kedua)
print ("Jumlah kedua bilangan adalah " + str(jumlah))

Masukan bilangan pertama 0.5
Masukan bilangan kedua 0.5
Jumlah kedua bilangan adalah 1.0

# 5.4 Formatted String 
Format String digunakan untuk mempermudah penulisan variabel yang ingin dicetak pada perintah print.

In [12]:
nama = "Lestari Dewi"
pekerjaan = "Mahasiswa aktif"
institusi = " Universitas Udayana"
print (f" Nama saya adalah {nama}. Sekarang berstatus sebagai {pekerjaan} di {institusi}.")

 Nama saya adalah Lestari Dewi. Sekarang berstatus sebagai Mahasiswa aktif di  Universitas Udayana.

# 5.5 Strings Index
Variabel yang berupa string dapat diurutkan dengan indeks yang dimulai dengan 0. Dimana urutan pertama didefinisikan sebagai urutan ke 0 dan urutan terakhir didefinisikan sebagai urutan ke -1.

In [16]:
aktv = "belajar menulis puisi" 
print (aktv)

belajar menulis puisi

In [21]:
aktv [0]

'b'

In [23]:
aktv [-4]

'u'

In [38]:
print(aktv[0:-1])

belajar menulis puis

In [28]:
print(aktv[0:6])

belaja

In [46]:
print (aktv[2:-1:3])

lamusu

# 5.6 Strings Methods
1. len = digunakan untuk mengetahui panjang data / string. 
2. upper = digunakan mengubah semua tulisan menjadi kapital. 
3. lower = mengubah semua tulisan menjadi huruf kecil.
4. find = menemukan urutan suatu string / letak suatu kata. 
5. replace = digunakan untuk mengganti suatu kata dalam string.

In [4]:
f = "Fakultas FMIPA berada di Jimbaran"

In [5]:
len(f)

33

In [6]:
f.upper()

'FAKULTAS FMIPA BERADA DI JIMBARAN'

In [7]:
f.lower()

'fakultas fmipa berada di jimbaran'

In [8]:
f.find("FMIPA")

9

In [9]:
f.find("fakultas")

-1

In [10]:
f.find("Fakultas")

0

In [11]:
f.replace ("Jimbaran", "Sudirman")

'Fakultas FMIPA berada di Sudirman'

In [12]:
f.replace ("jimbaran", "Sudirman")

'Fakultas FMIPA berada di Jimbaran'

In [13]:
print(f)

Fakultas FMIPA berada di Jimbaran

In [15]:
print( "Jimbaran" in f)

True

In [16]:
print("Sudirman" in f)

False

# 5.7 Operasi Matematika di Python
Terdapat beberapa operasi matematika di python diantaranya:
Penjumlahan (+) , Pengurangan (-) , Perkalian (*) , Pembagian (/) , Pembulatan Pembagian (//), Modulo (%), Pemangkatan (**) dan ada yang disebut Augmented operator contohnya x +=2 sama artinya dengan x = x +2. ini bertujuan untuk memudahkan dalam membuat program sehingga tidak perlu menulis lebih panjang.

In [17]:
10+3

13

In [18]:
10-3

7

In [19]:
10*3

30

In [20]:
10/3

3.3333333333333335

In [21]:
10//3

3

In [22]:
10%3

1

In [23]:
x = 10
print (x)

10

In [30]:
x = 2
print (x)

2

In [31]:
x = x + 3
print (x)

5

In [42]:
x = 5
print (x)

5

In [43]:
x += 15
print (x)

20

In [44]:
x -= 5
print(x)

15

In [45]:
x /=3
print (x)

5.0

In [46]:
x *=2
print (x)

10.0

# 5.8 Operator Perbandingan di Python 
Ada beberapa operator perbandingan diantaranya :
1. Lebih besar (>)
2. Lebih kecil (<)
3. Lebih besar sama dengan (>=)
4. Lebih kecil sama dengan (<=)
5. Sama dengan (==) 
6. Tidak sama dengan (!=)

In [47]:
x = 5>3
print (x)

True

In [48]:
x = 3>5
print(x)

False

In [49]:
x = 3<5
print(x)

True

In [50]:
x = 5>= 3
print(x)

True

In [51]:
x = 5<= 3
print(x)

False

In [52]:
x = 5==3
print(x)

False

In [53]:
x = 5==5
print(x)

True

In [54]:
x =5 != 5
print (x)

False

In [55]:
x=5 !=3
print(x)

True

# 5.9 Operator Logika di Python
Ada 3 Operator logika pada python yaitu : 
1. end (akan bernilai benar jika kedua nilai adalah benar 
2. or ( akan bernilai benar jika salah satu nilainya adalah benar 
3. not ( akan menghasilkan nilai yang berlawanan

In [6]:
banyak_novel = 20
banyak_komik = 10

In [7]:
print (banyak_novel > 10 and banyak_komik < 20 )

True

In [10]:
print(banyak_novel > 20 and banyak_komik < 5)

False

In [8]:
print (banyak_novel > 20 or banyak_komik > 5)

True

In [9]:
print (banyak_novel > 20 or banyak_komik > 10)

False

In [13]:
print (not (banyak_novel > 30 or banyak_komik < 5))

True

# 5.10 Operator if di Python
Operator if akan dijalankan jika ada syarat dan bernilai benar, jika syarat bernilai salah maka tidak akan dijalankan

In [28]:
panjang_tongkat = float(input("Berapakah panjang tongkat anda? "))
cm_atau_m = input("Panjangnya dalam cm atau m? ")

if cm_atau_m.upper() == "CM":
    panjang_tongkat = panjang_tongkat/100
elif cm_atau_m.upper() == "M":
   panjang_tongkat = panjang_tongkat*100
    
print (f"Panjang tongkat anda adalah {panjang_tongkat} {cm_atau_m}")

Berapakah panjang tongkat anda? 160
Panjangnya dalam cm atau m? cm
Panjang tongkat anda adalah 1.6 cm

# 5. 11 While loop 
While lopp akan terus berjalan selama syaratnya masih benar dan akan berhenti jika syaratnya salah.

In [30]:
b = 2
while b < 10:
    print("Angka " + str(b)+ " masih dibawah 10 ")
    b += 2

Angka 2 masih dibawah 10
Angka 4 masih dibawah 10
Angka 6 masih dibawah 10
Angka 8 masih dibawah 10